{% extends "store/base.html" %}

{% block content %}

<style>
    body{
        background-image: url('');
    }
</style>
<section>
    <div class="container">
       
        <div class="row text-center mt-2" >
            <div class="container mt-3 bg-success" style="margin-bottom: 20px; width: 800px;">
                <p style="color:rgb(252, 244, 244); font-family: 'Courier New', Courier, monospace; font-weight: bold; font-size: 25px;">
                    Topic: {{blog_obj.title|safe}}</p>
            </div>
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5"
                    src="/abcd/show/{{blog_obj.image}}"
                    alt=""></div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="text-content">
                    {{blog_obj.content|safe}}
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}